.idea
/.venv/
/assets/tests
/.env
/assets/configs/app-configs.yaml
/assets/pdf/fundamentals-data-engineering-robust-29-57.pdf
/terraform/environments/dev/variables
/assets/pdf/fundamentals-data-engineering-robust-29-57-1-3.pdf
/dist/
/.venv1/
/doc-ingestion-pipeline-3.11/
/assets/pdf/
